@import '../mixins/mixins';
$background: #f2f2f2;
$main: #e8512a;
$second: #f25a33;
$one: #ff9500;
$two: #70dafa;
$three: #33dcaf;
$four: #ff698f;
$five: #60b2ff;
$six: #c359e8;
$title: #4a4a4a;
$i-green: #34b26d;
$i-blue: #367d9f;
$footer: #e6e6e6;
$tw: #28c3ff;
$fb: #486194;
$vk: #6896c7;
$ig: #517fa6;
$gp: #db4437;

$border: #bcbcbc;
$opensans: 'Open Sans', sans-serif;
$bold: 700;
$lg: 1200;
$md: 998;
$sm: 768;
$xs: 630;
$xxs: 480;

@mixin icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include font(gothamproregular, gothamproregular);

@mixin greg {
  font-family: "gothamproregular", Arial, sans-serif;
}

@include font(gothamproblack, gothamproblack);

@mixin gblack {
  font-family: "gothamproblack", Arial, sans-serif;
}

@include font(gothamprobold, gothamprobold);

@mixin gbold {
  font-family: "gothamprobold", Arial, sans-serif;
}

@include font(gothamprolight, gothamprolight);

@mixin glight {
  font-family: "gothamprolight", Arial, sans-serif;
}