@import '../mixins/mixins';
@import '../core/core';
html {
  height: 100%;
}
body {
  height: 100%;
  background: #FFF;
  font-size: 16px;
  line-height: 1.4;
  color: $title;
  font-family: $opensans;
}

a {
  text-decoration: none
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;

}

li {
  list-style-type: none !important;
}

p {
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
}

button[type="button"],
[type="reset"],
[type="submit"] {
  outline: none;
  -webkit-appearance: none !important;
  border: 0;
  border-style: none;
  &:focus {
    outline: none;
  }
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background: none;
}

.l-center {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 55px;
  box-sizing: border-box;
  @include r($sm) {
    padding: 0 25px
  }
  @include r($xs) {
    padding: 0 20px
  }
}

.out {
  position: relative;
  min-height: 100%;
  height: auto !important;
}

.link-action {
  font-size: 20px;
  display: inline-block;
  border-bottom: 1px dashed transparent;
  transition: border, color, .3s;
  color: $title;
  font-family: $opensans;
  &:hover {
    border-color: rgba($title, .5)
  }
  &:active {
    border-color: transparent;
    color: $main;
  }
}

.dropdown {
  position: relative;
  z-index: 5;
  &.is-active {
    .dropdown__list {
      visibility: visible;
      opacity: 1;
    }
  }
  &__head {
    position: relative;
    display: block;
    padding-right: 14px;
    font-family: $opensans;
    font-weight: 700;
    color: $title;
    font-size: 20px;
    transition: color .3s;
    &:hover {
      color: #000;
      &:after {
        @include arr(8, 4, #000, b);
      }
    }
    &:after {
      content: "";
      @include arr(8, 4, $title, b);
      position: absolute;
      top: 50%;
      margin-top: -2px;
      right: 0;
      transition: border .3s;
    }
  }
  &__list {
    position: absolute;
    top: 162%;
    left: 0;
    right: 0;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
    transition: opacity .3s;
    opacity: 0;
    visibility: hidden;

    a {
      padding: 10px 20px;
      display: block;
      background: #fff;
      text-align: left;
      color: $title;
      font-size: 17px;
      position: relative;
      transition: color .3s;
      &:hover {
        &:before {
          background: rgba($title, .1);
        }
      }
      &:active {
        color: $main;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: transparent;
        transition: background .3s;
      }
    }
  }
}

.btn {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background: $main;
  border-radius: 3px;
  line-height: 1;
  @include gbold;
  padding: 17px 40px 15px;
  border: 2px solid $main !important;
  box-sizing: border-box;
  transition: border, color, background, .3s;
  &:hover {
    background: transparent;
    color: $main;
  }
  &:active {
    background: darken($main, 5%);
    color: #fff;
    border-color: darken($main, 5%);
  }
  &--small {
    border-radius: 10px;
    font-size: 20px;
    padding: 12px 29px 8px;
    @include r($xs) {
      font-size: 15px;
    }
  }

  &--second {
    color: $second;
    background: #fff;
    padding: 15px 30px;
    font-weight: 600;
    font-family: $opensans;
    border: 2px solid #fff !important;
    text-transform: none;
    &:hover {
      color: #fff;
    }
    &:active {
      color: darken($second, 5%);
      background: #fff;
    }
  }
}

.title {
  @include greg;
  margin-top: 50px;
  font-size: 24px;
  color: $title;
  text-transform: uppercase;
  &.with-pad {
    @include r($sm) {
      padding-left: 9%;
      font-weight: 600;
      margin-top: 65px;
    }
    @include r($xs) {
      padding-left: 0;
      margin-top: 35px;
    }

  }
}

.text-right {
  text-align: right;
}