@import '../mixins/mixins';
@import '../core/core';

.out_error {
  display: flex;
  justify-content: center;
}
.error-page {
  overflow: hidden;
  padding: 20px;
  flex: 1 auto;
  max-width: 1173px;
  &__header {
    display: flex;
    margin-bottom: 48px;
    @include r($xs) {
      margin-bottom: 15px;
    }
  }
  &__logo {
    position: relative;
    @include r($md) {
      width: 200px;
      min-width: 200px;
    }
    @include rh(767) {
      width: 200px;
      min-width: 200px;
    }
    @include r($xs) {
      width: 90px;
      min-width: 90px;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__code {
    position: absolute;
    left: 18px;
    top: 18px;
    font: 700 101px/1 Arial, sans-seri;
    color: #fefefe;
    @include r($md) {
      top: 16px;
      font-size: 60px;
    }
    @include rh(767) {
      top: 16px;
      font-size: 60px;
    }
    @include r($xs) {
      font-size: 18px;
      top: 12px;
      left: 7px;
    }
  }
  &__head {
    position: relative;
    margin: 5px 0 0 32px;
    @include r($xs) {
      margin: 3px 0 0 10px;
    }
  }
  &__title {
    margin-bottom: 18px;
    color: $main;
    font-size: 35px;
    font-weight: 600;

    @include r($md) {
      font-size: 25px;
    }
    @include r($xs) {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  &__text {
    color: #686868;
    font-size: 53px;
    line-height: 1;
    font-weight: 300;
    &--big {
      font-size: 80px;
    }
    @include r($md) {
      font-size: 30px;
    }
    @include r($xs) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__cols {
    display: flex;
    align-items: center;
    @include r($xs) {
      flex-direction: column;
    }
  }
  &__img {
    @include r($md) {
      width: 40%;
    }
    @include r($xs) {
      width: auto;
      max-width: 170px;
    }
    img {
      display: block;
      max-width: 100%;
      margin-left: -40px;
      @include rh(768) {
        height: 400px;
        width: auto;
        max-width: inherit;
      }
      @include r($md) {
        margin: 0;
      }
      @include r($xs) {
        width: 100% !important;
        height: auto;
      }
    }

  }
  &__main {
    width: 60%;
    min-width: 60%;
    @include r(700) {
      width: 100%;
      margin: 35px 0 0;
    }
  }
  &__links {
    text-align: center;
    li {
      margin: 30px 0;
      @include r($xs) {
        margin: 15px 0;
      }
    }
    img {
      @include r($xs) {
        max-width: 110px;
      }
    }
  }
}

.link {
  display: inline-block;
  color: #686868;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: color .3s;
  line-height: 1;
  &:hover {
    color: $main;
  }
  span {
    display: inline-block;
    border-bottom: 1px solid;
  }
  .icon-mail {
    font-size: 10px;
    margin-right: 5px;
  }
}

.links-nav {
  text-align: center;
  font-size: 14px;
  li {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:before {
      content: '|';
      display: inline-block;
      margin: 0 10px;

    }
  }
}

.quote {
  margin: 35px 0 10px;
  font-size: 32px;
  @include r($md) {
    font-size: 20px;
  }
  @include rh(767) {
    margin: 25px 0 10px;
    font-size: 27px;
  }
  @include r($xs) {
    margin: 25px 0;
  }
}

.btn-wrap {
  text-align: center;
  margin: 35px 0 0;
}

.text-main {
  margin: 15px 0 0;
  font-size: 18px;
  color: $main;
  text-align: center;
  font-weight: 700;
}