@import '../mixins/mixins';
@import '../core/core';
.prod-wrap {
  @include clr;
  &.is-second {
    .prod {
      width: 16.6%;
      @include r($lg) {
        width: 33.3%;
        &:nth-child(n+7) {
          display: block;
        }
        // &:nth-child(n+11) {
        //   display: none;
        // }
      }
      @include r($sm) {
        width: 50%;
      }
      @include r($sm) {
        &:nth-child(n+7) {
          .prod__name {
            display: none;
          }
          .prod__part {
            min-height: auto;
          }
        }
      }
    }
    .prod__name {
      height: auto;
      @include r($sm) {
        padding: 0;
      }
      @include r($sm) {
        @include text-overflow;
      }

    }
  }
}

.prod {
  width: 25%;
  padding: 23px 3%;
  text-align: center;
  float: left;
  box-sizing: border-box;
  @include r($lg) {
    width: 33.3%;
    padding: 10px 3%;
    &:nth-child(n+7) {
      display: none;
    }
  }
  @include r($sm) {
    width: 50%;
  }
  &:hover {
    a {
      .prod__name {
        color: $main;
      }
    }
  }
  &:active {
    a {
      .prod__name {
        color: darken($main, 15%);
      }
    }
  }

  &__img {
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    padding: 0 16px;
    margin-bottom: 15px;
    @include vertical;
    @include r($xs) {
      height: 110px;
    }
    img {
      max-width: 90%;
      max-height: 74%;
      display: inline-block;
      vertical-align: bottom;
      @include r($xs) {
        max-height: 90%;
      }
    }
  }

  &__name {
    font-size: 13px;
    line-height: 1.35;
    display: block;
    font-family: $opensans;
    color: $title;
    height: 43px;
    margin: 0 -10px;
    transition: color .3s;
    @include r($sm) {
      margin: 0;
      padding: 0 25%;
      height: 60px;
    }
    @include r($xs) {
      padding: 0 10%;
    }
    &:hover {
      color: $main;
    }
    &:active {
      color: darken($main,15%);
    }
  }

  &__cat {
    display: block;
    transition: color .3s;
    color: $title;
    font-size: 14px;
    font-family: $opensans;
    font-weight: $bold;
    &:hover {
      color: $main;
    }
    &:active {
      color: darken($main,15%);
    }
  }

  &__part {
    min-height: 100px
  }
}
