@import '../mixins/mixins';
@import '../core/core';
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  &__item {
    border-bottom: 1px solid rgba($border,.5);
    padding: 13px 0;
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 12px;
    color: $title;
    text-transform: uppercase;
    font-family: $opensans;
    padding: 10px 0;
    transition: color .3s;
    &:hover {
      color: $main;
    }
    &:active {
      color: lighten($main,20%);
    }

    &.is-second {
      text-transform: none;
      @include gbold;
    }
  }

}

.submenu  {
  visibility: hidden;
  height: 0;
  transition: height .3s;
  &.is-active {
    visibility: visible;
    height: auto;
  }
  a {
    display: block;
    text-align: center;
    font-size: 12px;
    color: $title;
    font-family: $opensans;
    padding: 10px 0;
    transition: color .3s;
    &:hover {
      color: $main;
    }
    &:active {
      color: lighten($main,20%);
    }
  }
}