@import '../mixins/mixins';
@import '../core/core';

.footer {
  background: $footer;
  padding: 60px 0 0;
  margin-top: 140px;
  @include r($sm) {
    padding: 20px 0 0;
    margin-top: 120px;
  }
  @include r($xs) {
    margin-top: 100px;
  }

  .l-center {
    padding: 0 100px;
    @include r($lg) {
      padding: 0 25px
    }
  }

  &__wrap {
    display: table;
    padding-bottom: 50px;
    width: 100%;
    @include r($sm) {
      display: block;
      padding-bottom: 10px
    }
  }

  &__column {
    display: table-cell;
    padding-right: 6%;
    @include r($lg) {
      padding-right: 4%;
    }
    @include r($sm) {
      margin: 20px auto;
      display: block;
      text-align: center;
    }
    &:last-child {
      padding-right: 0;
    }
    &.hidden-sm {
      @include r($sm) {
        display: none;
      }
    }
  }

  &__name {
    text-transform: uppercase;
    @include gbold;
    letter-spacing: 4px;
    white-space: nowrap;
    font-size: 13px;
    margin-bottom: 20px;
  }

  &__link {
    color: $title;
    transition: color .3s;
    font-size: 14px;
    line-height: 1.7;
    &.is-second {
      display: block;
      margin-bottom: 25px;
    }

    &:hover {
      color: $main;
      .icon {
        color: $main;
      }
    }
    &:active {
      color: darken($main, 15%);
      .icon {
        color: darken($main, 15%);
      }
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      color: #202020;
      transition: color .3s;
      margin-right: 14px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__bottom {
    border-top: 2px solid $border;
    padding: 6px 0 8px;
    @include clr;
  }

  &__right {
    text-align: right;
    float: right;
    font-size: 0;
    margin-top: 3px;
    .info-link {
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
    &.hidden-sm {
      @include r($md) {
        display: none;
      }
    }
  }
  .share {
    margin-bottom: 19px;
    .icon {
      color: #202020;
      font-size: 30px;
    }
  }
  .icon-fb, .icon-fb-full {
    &:hover {
      color: $fb;
    }
  }
  .icon-tw, .icon-tw-full {
    &:hover {
      color: $tw;
    }
  }
  .icon-vk, .icon-vk-full {
    &:hover {
      color: $vk;
    }
  }
  .icon-gp, .icon-gp-full {
    &:hover {
      color: $gp;
    }
  }
  .icon-ig, .icon-ig-full {
    &:hover {
      color: $ig;
    }
  }
}

.share {
  font-size: 0;
  a {
    display: inline-block;
    margin-right: 6px;
    &:hover {
      .icon-fb, .icon-fb-full {
        color: lighten($fb, 7%);
      }
      .icon-tw, .icon-tw-full {
        color: lighten($tw, 7%);
      }
      .icon-vk, .icon-vk-full {
        color: lighten($vk, 7%);
      }
      .icon-gp, .icon-gp-full {
        color: lighten($gp, 7%);
      }
      .icon-ig, .icon-ig-full {
        color: lighten($ig, 7%);
      }
    }

    &:active {
      .icon-fb, .icon-fb-full {
        color: darken($fb, 7%);
      }
      .icon-tw, .icon-tw-full {
        color: darken($tw, 7%);
      }
      .icon-vk, .icon-vk-full {
        color: darken($vk, 7%);
      }
      .icon-gp, .icon-gp-full {
        color: darken($gp, 7%);
      }
      .icon-ig, .icon-ig-full {
        color: darken($ig, 7%);
      }
    }
    .icon {
      font-size: 29px;
      transition: color .3s;
    }

    &:last-child {
      margin-right: 0;
    }

  }
}

.share--primary {
  .share__link {
    color: #686868;
    margin: 0 2px;
    .icon {
      font-size: 34px;
    }
  }

}

.copyright {
  font-size: 12px;
  color: #9b9b9b;
  font-family: $opensans;
  line-height: 1.3;
  float: left;
  @include r($sm) {
    float: none;
    text-align: center;
    font-size: 10px;
  }
  span {
    font-size: 17px;
    @include r($sm) {
      font-size: 12px;
    }
  }
  p {
    display: inline;
    @include r($sm) {
      display: block;
      text-align: center;
    }
  }

}

