@import '../mixins/mixins';
@import '../core/core';
.category {
  @include clr;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 45px;
  display: flex;
  box-sizing: border-box;
  @include r($md) {
    display: block;
  }
  @include r($sm) {
    &:nth-child(n+3) {
      display: none;
    }
  }
  &__left {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: background .3s;
    width: 38%;
    order: 1;
    @include r($md) {
      width: 100%;
      height: 197px;
    }
  }

  &__right {
    float: right;
    width: 70%;
    padding-top: 20px;
    box-sizing: border-box;
    order: 2;
    @include r($md) {
      width: 100%;
      float: none;
    }
  }
  
  &__title {
    color: #fff;
    @include greg;
    font-size: 34px;
    line-height: 1;
    @include r($md) {
      padding-right: 100px;
    }
    @include r($xs) {
      padding-right: 50px;
    }
  }
  
  &__img {
    position: absolute;
    bottom: 43px;
    right: 0;
    max-height: 345px;
    width: auto;
    max-width: 75%;
    z-index: 2;
    @include r($md) {
      bottom: 0;
      max-height: 172px;
    }
    @include r($xs) {
      max-width: 160px;
      right: -10px;
      bottom: -15px;
    }
  }

  &__svg {
    position: absolute;
    height: 1100px;
    width: 800px;
    left: -129px;
    top: -28px;
    z-index: 1;
    @include r($md) {
      left: -110px;
      top: -60px;
    }
  }
  
  &--one {
    .category__left {
      background: $one;
      &:hover {
        background: lighten($one,4%);
      }
      &:active {
        background: darken($one,4%);
      }
    }
  }

  &--two {
    .category__left {
      background: $two;
      &:hover {
        background: lighten($two,4%);
      }
      &:active {
        background: darken($two,4%);
      }
    }
  }

  &--three {
    .category__left {
      background: $three;
      &:hover {
        background: lighten($three,4%);
      }
      &:active {
        background: darken($three,4%);
      }
    }
  }

  &--four {
    .category__left {
      background: $four;
      &:hover {
        background: lighten($four,4%);
      }
      &:active {
        background: darken($four,4%);
      }
    }
  }

  &--five {
    .category__left {
      background: $five;
      &:hover {
        background: lighten($five,4%);
      }
      &:active {
        background: darken($five,4%);
      }
    }
  }

  &--six {
    .category__left {
      background: $six;
      &:hover {
        background: lighten($six,4%);
      }
      &:active {
        background: darken($six,4%);
      }
    }
  }
}

