@import '../mixins/mixins';
@import '../core/core';
.crsl {
  text-align: center;
  margin: 50px 0;
  @include r($xs) {
    margin-top: 80px;
  }

  &__slide {
    background: $two;
    @include vertical;
    padding: 90px 0;
    text-align: center;
    color: #fff;
    @include r($sm) {
      padding: 60px 0;
    }
  }

  .l-center {
    display: inline-block;
    vertical-align: middle;
  }
  
  &__title {
    @include gbold;
    font-size: 34px;
    @include r($sm) {
      font-size: 28px;
    }
  }

  &__sign {
    font-family: $opensans;
    font-size: 20px;
  }

  .slick-dots {
    @include hide-text;
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
    }
    button {
      height: 10px;
      width: 10px;
      background: rgba(#fff,.3);
      transition: background .3s;
    }
  }
  .slick-active {
    button {
      background: #fff;
    }
  }
}