@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-close: "\EA01";
$icon-diet: "\EA02";
$icon-dog: "\EA03";
$icon-fb-full: "\EA04";
$icon-fb: "\EA05";
$icon-gp-full: "\EA06";
$icon-gp: "\EA07";
$icon-ig-full: "\EA08";
$icon-ig: "\EA09";
$icon-logo-s: "\EA0A";
$icon-logo: "\EA0B";
$icon-mail: "\EA0C";
$icon-tag: "\EA0D";
$icon-truck: "\EA0E";
$icon-tw-full: "\EA0F";
$icon-tw: "\EA10";
$icon-vk-full: "\EA11";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-close:before { content: $icon-close; }
.icon-diet:before { content: $icon-diet; }
.icon-dog:before { content: $icon-dog; }
.icon-fb-full:before { content: $icon-fb-full; }
.icon-fb:before { content: $icon-fb; }
.icon-gp-full:before { content: $icon-gp-full; }
.icon-gp:before { content: $icon-gp; }
.icon-ig-full:before { content: $icon-ig-full; }
.icon-ig:before { content: $icon-ig; }
.icon-logo-s:before { content: $icon-logo-s; }
.icon-logo:before { content: $icon-logo; }
.icon-mail:before { content: $icon-mail; }
.icon-tag:before { content: $icon-tag; }
.icon-truck:before { content: $icon-truck; }
.icon-tw-full:before { content: $icon-tw-full; }
.icon-tw:before { content: $icon-tw; }
.icon-vk-full:before { content: $icon-vk-full; }
