@import '../mixins/mixins';
@import '../core/core';
.info {
  background: $background;
  text-align: center;
  font-size: 0;
  position: relative;
  padding: 60px 0 0;
  @include r($md) {
    display: none !important;
  }
  .l-center {
    padding: 0 55px;
  }
}
  
.info__in {
  position: relative;
  padding: 0 42px 40px;
  @include r($lg) {
    padding: 0 0 40px;
  }
}

.info__close {
  position: absolute;
  top: -40px;
  right: 25px;
  &:hover {
    .icon {
      color: darken(#d8d8d8,10%);
    }
  }
  .icon {
    font-size: 20px;
    color: #d8d8d8;
    transition: color .3s;
  }
}

.info__item {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}

.info__img {
  max-width: 230px;
  margin: 0 auto 40px;
  height: 249px;
  position: relative;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: cover;
    bottom: 0;
  }
}

.info__title {
  @include gblack;
  color: $title;
  font-size: 36px;
  margin-bottom: 20px;
  @include r($lg) {
    font-size: 30px;
  }
}

.info__text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.26;
  color: $title;
  width: 270px;
  @include greg;
  a {
    color: $title;
    border-bottom: 1px solid;
    &:hover {
      border-color: transparent;
    }
  }
}

.info__bottom {
  padding: 5px 0;
  @include clr;
  .info-link {
    float: left;
    &.is-right {
      float: right;
    }
  }
}

.info-link {
  font-size: 12px;
  color: $title;
  font-family: $opensans;
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: border, color, .3s;
  &:hover {
    border-color: rgba($title, .6);
  }
  &:active {
    border-color: transparent;
    color: $main;
  }
}
