@import '../mixins/mixins';
@import '../core/core';
.header {
  position: absolute;
  top: 0;
  left: 0 !important;
  right: 0;
  z-index: 10;
  padding: 21px 35px 15px;
  transition: transform .3s;
  @include clr;
  @include r($sm) {
    padding: 20px 25px 15px;
    z-index: 6;
  }
  &.is-animation-ready {
    transform: translateY(-100%);
  }
  &.is-sticky {
    position: fixed;
    background: #fff;
    transform: translateY(0);
    .logo {
      margin-top: 0;
      vertical-align: middle;
      &__main {
        display: block;
      }
      &__add {
        display: none;
      }
    }
    .header__nav {
      vertical-align: middle;
      a {
        color: #000;
        &:after {
          background: #000;
        }
      }
    }
  }
}

.header__left {
  float: left;
  .header__nav {
    display: inline-block;
    vertical-align: middle;
  }
  .logo {
    margin-right: 30px;
  }
}

.header__right {
  float: right;
  text-align: right;
  height: 100%;
  position: relative;
  font-size: 0;
  @include r($sm) {
    padding-top: 5px;
  }
  .dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
    @include r($sm) {
      display: none;
    }
  }
  .header__nav {
    display: inline-block;
    vertical-align: middle;
  }

}

.logo {
  display: inline-block;
  vertical-align: top;
  margin-top: -21px;
  @include r($sm) {
    margin-top: 0;
  }
  &__main {
    display: none;
    @include r($sm) {
      display: block;
    }
  }
  &__add {

    @include r($md) {
      img {
        width: 120px;
        height: auto;
      }
    }
    @include r($sm) {
      display: none;
    }

  }
  //&:before {
  //  display: none;
  //  content: $icon-logo;
  //  @include icon;
  //  font-size: 82px;
  //  color: $second;
  //}
  @include r($sm) {
    .logo__main {
      display: block;
    }
  }
  img {
    display: block;
  }

}

.header__login {
  display: inline-block;
  vertical-align: top;
  @include r($sm) {
    display: none;
  }
  .link-action {
    vertical-align: middle;
    margin: 0 10px;
    &:first-child {
      position: relative;
      &:after {
        content: "";
        height: 20px;
        width: 2px;
        position: absolute;
        right: -10px;
        top: 50%;
        margin-top: -8px;
        background: $title;
      }
    }
  }
}
.header__nav {
  white-space: nowrap;
  font-size: 20px;
  @include r($sm) {
    display: none !important;
  }
  li {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    display: block;
    position: relative;
    padding: 5px 10px;
    color: #fff;
    &:after {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 2px;
      background: #fff;
      opacity: 0;
      transition: opacity .3s;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
.burger {
  display: none;
  position: relative;
  height: 14px;
  width: 20px;
  z-index: 6;
  &.is-active {
    &:hover {
      span {
        background: transparent;
      }
    }
    span {
      background: transparent;
      &:before {
        top: 0;
        transform: rotate(45deg);
      }
      &:after {
        top: 0;
        right: 0;
        left: auto;
        transform: rotate(-45deg)
      }
    }
  }
  &:hover {
    span {
      background: $title;
      &:before,
      &:after {
        background: $title;
      }
    }

  }
  @include r($sm) {
    display: block;
  }
  span {
    position: absolute;
    height: 2px;
    width: 20px;
    background: $second;
    top: 50%;
    left: 0;
    margin-top: -1px;
    transition: background .3s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 20px;
      background: $second;
      left: 0;
      transition: background, transform, top, left, right, .3s;
    }

    &:before {
      top: -6px;
    }
    &:after {
      bottom: -6px;
    }
  }

}