<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Iconfont Preview</title>
  <style type="text/css" media="all">
    @font-face {
      font-family: "<%= fontName %>";
      src: url('./assets/fonts/<%= fontName %>.eot');
      src: url('./assets/fonts/<%= fontName %>.eot?#iefix') format('eot'),
        url('f./assets/onts/<%= fontName %>.woff2') format('woff2'),
        url('./assets/fonts/<%= fontName %>.woff') format('woff'),
        url('./assets/fonts/<%= fontName %>.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    h1 {
      text-align: center;
    }

    .icons-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      text-align: center;
    }

    .icon-box {
      display: inline-block;
      vertical-align: middle;
      min-width: 200px;
      min-height: 200px;
      padding: 20px;
      border-radius: 5px;
    }

    .icon-container {
      min-height: 170px;
      text-align: center;
      font-size: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #CCC;
      border-radius: 5px;
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    input:not([type=range]) {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      font-size: 12px;
      border-radius: 5px;
      height: 30px;
      padding: 0;
      text-align: center;
      border: 1px solid #CCC;
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
      -webkit-appearance: none;
    }

    input[type=range] {
      display: block;
      width: 100%;
      max-width: 500px;
      margin: auto;
    }

    .icon-class-name {
      width: 70%;
    }

    .icon-unicode {
      width: 30%;
    }

    .<%= className %> {
      font-family: "<%= fontName %>";
      display: inline-block;
      vertical-align: middle;
      font-style: normal;
      font-weight: normal;
      text-rendering: auto;
      speak: none;
      min-width: 1em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    <% _.forEach(glyphs, function(glyph) { %>
    .<%= className %>-<%= glyph.name %>:before {
      content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>";
    }<% }); %>
  </style>
</head>
<body>
  <h1>Icons: <span id="count"></span></h1>

  <label style="display: block; width: 300px; margin: 20px auto;">
    Icon size <output for="size" id="size-value">100</output>
    <input type="range" id="size" value="100" min="6" max="1000">
  </label>

  <ul class="icons-list">
    <% _.forEach(glyphs, function(glyph) { %>
    <li class="icon-box">
      <input class="icon-class-name autoselect" type="text" value=".<%= className %>-<%= glyph.name %>" readonly>
      <input class="icon-unicode autoselect" type="text" value="\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" readonly>
      <div class="icon-container">
        <i class="<%= className %> <%= className %>-<%= glyph.name %>"></i>
      </div>
    </li>
    <% }) %>
  </ul>

  <script>
    var change = document.getElementById('size');
    var changeVal = document.getElementById('size-value');
    var count = document.getElementById('count');
    var autoselect = document.getElementsByClassName('autoselect');
    var icons = document.getElementsByClassName('icon');
    Array.prototype.forEach.call(autoselect, function(el) {
      el.onclick = function() {
        this.focus();
        this.select();
      };
    });
    change.oninput = function() {
      var val = this.value;
      changeVal.value = val;
      Array.prototype.forEach.call(icons, function(el) {
        el.style.fontSize = val + 'px';
      });
    }
    count.innerHTML = icons.length;
  </script>
</body>
</html>
