@import '../mixins/mixins';
@import '../core/core';
.promo {
  background: $second;
  position: relative;
  text-align: center;
  padding: 60px 0 54px;
  overflow: hidden;
  @include r($xs) {
    padding: 40px 0;
  }
  &__in {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include gbold;
    font-size: 34px;
    color: #fff;
    @include r($xs) {
      font-size: 29px;
    }
  }

  &__subtitle {
    color: #fff;
    font-family: $opensans;
    font-size: 20px;
    margin-bottom: 28px;
    @include r($xs) {
      font-size: 18px;
    }
  }

  .l-center {
    position: relative;
  }

  &__img {
    position: absolute;
    z-index: 1;
    left: 100px;
    bottom: -54px;
    max-height: 80%;
    @include r($sm) {
      left: -50px;
    }
    @include r($xs) {
      display: none;
    }
    &.is-second {
      right: 100px;
      left: auto;
      @include r($sm) {
        right: -50px;
      }
    }
  }

  &__svg {
    position: absolute;
    top: -157px;
    right: 22px;
    width: 1400px;
    height: 1500px;
    z-index: 0;
    @include r($xs) {
      display: none;
    }
  }
}