@import '../mixins/mixins';
@import '../core/core';
.banner {
  position: relative;
  // height: calc(100vh - 126px);
  height: 900px;
  margin-bottom: 50px;
  box-sizing: border-box;
  @include r($lg) {
    height: 723px;
  }
  @include r($md) {
    height: 464px;
  }
  @include r($xs) {
    height: 420px;
    margin-bottom: 35px;
  }

  &__img {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  
  }
  &__in {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    @include vertical;
    box-sizing: border-box;
    @include r($lg) {
      top: 40px;
      right: 60px;
      left: 60px;
      bottom: 35px;
    }
    @include r($xs) {
      top: 20px;
      bottom: 20px;
      left: 30px;
      right: 30px;
    }
    
  }
  
}

.window {
  width: 900px;
  display: inline-block;
  vertical-align: middle;
  padding: 45px 57px 40px;
  background: rgba(#FFF,.9);
  box-sizing: border-box;
  @include r($lg) {
    width: 100%;
    padding: 30px 40px 30px;
  }
  @include r($md) {
    padding: 30px 40px 0;
  }

  &__title {
    @include gblack;
    font-size: 44px;
    color: $title;
    margin-bottom: 10px;
    line-height: 1.13;
    @include r($xs) {
      font-size: 26px; 
    }
  }

  &__info {
    font-size: 26px;
    @include glight;
    color: $title;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    @include r($xs) {
      font-size: 18px; 
    }
  }

  &__anim {
    width: 110px;
    color: $title;
    border-bottom: 2px solid $title;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-bottom: -2px;
    
    span {
      @include gbold;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      @include r($xs) {
        font-size: 26px; 
      }
    }
  }

  &__marginb {
    margin-bottom: 45px;
    @include r($md) {
      margin-bottom: 35px;
    }
    @include r($xs) {
      margin-bottom: 30px;
    }
  }

}

.label {
  column-count: 3;
  font-family: $opensans;
  font-size: 20px;
  color: $title;
  text-align: left;
  padding-left: 0;
  line-height: 1.2;
  @include r($md) {
    column-count: auto;
    text-align: center;
  }
  @include r($xs) {
    font-size: 13px;
    text-align: left;
    margin-left: -5px;
  }

  &.hidden-md {
    @include r($md) {
      display: none;
    }

  }

  &.visible-md {
    display: none;
    @include r($md) {
      display: block;
      margin-bottom: 30px;
    }

  }
  li {
    position: relative;
    padding-left: 45px;
    @include r($md) {
      padding-left: 30px;
      margin-bottom: 25px;
    }
    @include r($xs) {
      margin-bottom: 15px;
    }
  }
  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    font-size: 25px;
    @include r($md) {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      margin-top: 0;
    }
    @include r($xs) {
      font-size: 22px;
      margin-right: 0;
      position: absolute;
      top: 50%;
      margin-top: -11px;

      // margin-right: 10px;

    }
  }
  .icon-tag {
    color: $i-green;
  }
  .icon-diet {
    color: $main;
  }
  .icon-truck {
    color: $i-blue;
  }
}