!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title 404
    %link(href="./assets/stylesheets/app.css" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    %meta(property="og:locale" content="ru_RU")
    %meta(property="og:type" content="article")
    %meta(property="og:title" content="Заголовок")
    %meta(property="og:description" content="Текст котомудрости")
    %meta(property="og:url" content="http://instamart.ru/current_404_page/")
    %meta(property="og:site_name" content="Инстамарт - доставка из любимых магазинов")
    %meta(property="article:publisher" content="https://www.facebook.com/instamart.ru")
    %meta(property="og:image" content="http://instamart.ru/cat.gif")
    %meta(property="twitter:card" content="summary")
    %meta(property="twitter:description" content="Текст котомудрости")
    %meta(property="twitter:title" content="Заголовок")
    %meta(property="twitter:site" content="@instamart")
    %meta(property="twitter:image" content="http://instamart.ru/cat.png")
    %meta(property="twitter:creator" content="@instamartru")

  %body
    .out.out_error
      .error-page
        .error-page__header
          %a.error-page__logo{href: "./main_page.html"}
            %img{src: "assets/images/logo-error.png", width: "300", alt: "error 404"}
            %span.error-page__code 404
          .error-page__head
            .error-page__title Страница не найдена
            .error-page__text СОХРАНЯЙ ДЗЕН
        .error-page__cols
          .error-page__img
            %img{src: "assets/images/cat.gif", width: "433", alt: "cat"}
          .error-page__main
            %ul.links-nav
              %li
                %a.link{href: "./"}
                  %span на главную
              %li
                %a.link{href: "#"}
                  %span ещё котомудрость
            %blockquote.quote « В высшей степени достойно сожаления, если самурай упускает момент, когда ему следует умереть... »
            .text-right
              .share.share--primary
                %a.share__link{href: "#"}
                  %i.icon.icon-fb-full
                %a.share__link{href: "#"}
                  %i.icon.icon-tw-full
                %a.share__link{href: "#"}
                  %i.icon.icon-ig-full
                %a.share__link{href: "#"}
                  %i.icon.icon-vk-full
                %a.share__link{href: "#"}
                  %i.icon.icon-gp-full
            .btn-wrap
              %a.btn.btn--small{href: "#"}
                Познать цены *
            .text-main * Цены в Инстамарт идентичны ценам магазинов
            %ul.error-page__links
              %li
                %a{href: "./main_page.html"}
                  %img{src: "assets/images/logo-gray.png", width: "166", alt: "instamart"}

    %script(src="./assets/javascripts/app.js")
