!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title 404
    %link(href="./assets/stylesheets/app.css" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    %meta(property="og:locale" content="ru_RU")
    %meta(property="og:type" content="article")
    %meta(property="og:title" content="Заголовок")
    %meta(property="og:description" content="Текст котомудрости")
    %meta(property="og:url" content="http://instamart.ru/current_404_page/")
    %meta(property="og:site_name" content="Инстамарт - доставка из любимых магазинов")
    %meta(property="article:publisher" content="https://www.facebook.com/instamart.ru")
    %meta(property="og:image" content="http://instamart.ru/cat.gif")
    %meta(name="twitter:card" content="summary")
    %meta(name="twitter:description" content="Текст котомудрости")
    %meta(name="twitter:title" content="Заголовок")
    %meta(name="twitter:site" content="@instamart")
    %meta(name="twitter:image" content="http://instamart.ru/cat.png")
    %meta(name="twitter:creator" content="@instamartru")
  %body
    .out.out_error
      .error-page
        .error-page__header
          %a.error-page__logo{href: "./main_page.html"}
            %img{src: "assets/images/logo-error.png", width: "300", alt: "error 404"}
            %span.error-page__code 404
          .error-page__head
            .error-page__title Страница не найдена
            .error-page__text ЭТО НЕ ОШИБКА, ЭТО СУДЬБА
        .error-page__cols
          .error-page__img
            %img{src: "assets/images/cat.gif", width: "433", alt: "cat"}
          .error-page__main
            %ul.error-page__links
              %li
                %a.btn.btn--small{href: "#"} ПОЗНАТЬ КОТОМУДРОСТЬ
              %li
                %a.link{href: "#"}
                  %span на главную
              %li
                %a{href: "./main_page.html"}
                  %img{src: "assets/images/logo-gray.png", width: "166", alt: "instamart"}

    %script(src="./assets/javascripts/app.js")
