!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Index page
    %link(href="./assets/stylesheets/app.css" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    %meta(property="og:locale" content="ru_RU")
    %meta(property="og:type" content="article")
    %meta(property="og:title" content="Заголовок")
    %meta(property="og:description" content="Текст котомудрости")
    %meta(property="og:url" content="http://instamart.ru/current_404_page/")
    %meta(property="og:site_name" content="Инстамарт - доставка из любимых магазинов")
    %meta(property="article:publisher" content="https://www.facebook.com/instamart.ru")
    %meta(property="og:image" content="http://instamart.ru/cat.gif")
    %meta(property="twitter:card" content="summary")
    %meta(property="twitter:description" content="Текст котомудрости")
    %meta(property="twitter:title" content="Заголовок")
    %meta(property="twitter:site" content="@instamart")
    %meta(property="twitter:image" content="http://instamart.ru/cat.png")
    %meta(property="twitter:creator" content="@instamartru")
  %body
    %ol
      %li
        %a(href="./main_page.html") main_page.html
      %li
        %a(href="./404.html") 404.html
      %li
        %a(href="./404-wisdom.html") 404-wisdom.html
    %script(src="./assets/javascripts/app.js")
