!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Main page
    %link(href="./assets/stylesheets/app.css" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet")
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    %meta(property="og:locale" content="ru_RU")
    %meta(property="og:type" content="article")
    %meta(property="og:title" content="Заголовок")
    %meta(property="og:description" content="Текст котомудрости")
    %meta(property="og:url" content="http://instamart.ru/current_404_page/")
    %meta(property="og:site_name" content="Инстамарт - доставка из любимых магазинов")
    %meta(property="article:publisher" content="https://www.facebook.com/instamart.ru")
    %meta(property="og:image" content="http://instamart.ru/cat.gif")
    %meta(property="twitter:card" content="summary")
    %meta(property="twitter:description" content="Текст котомудрости")
    %meta(property="twitter:title" content="Заголовок")
    %meta(property="twitter:site" content="@instamart")
    %meta(property="twitter:image" content="http://instamart.ru/cat.png")
    %meta(property="twitter:creator" content="@instamartru")
  %body
    %div.info.js-info{style: "display:none"}
      %div.l-center
        %button.info__close.js-toggle{type: "button", data-toggle: ".js-info", data-anim: "slide"}
          %i.icon.icon-close
        %div.info__in
          %div.info__item
            %div.info__img
              %img{src: "assets/images/icon-man.svg"}
            %div.info__title Вы заказываете.
            %div.info__text После того, как вы зарегистрируетесь на членство и загрузить Shipt приложение (IOS, Android и Web), просто выберите ваши покупки в магазине, выбрать варианты доставки и проверки. Мы делаем продуктовых магазинов быстро, просто и удобно.
          %div.info__item
            %div.info__img
              %img{src: "assets/images/icon-shop.svg"}
            %div.info__title Мы покупаем.
            %div.info__text Мы сотрудничаем с местным сообществом надежных покупателей. Они могут выбрать идеальный манго с закрытыми глазами и перемещаться 40000 пунктов быстрее продуктовых чем вы можете сказать: "Органические безглютеновой кондитерские мучные." Наши цены будут незначительно отличаться от цен в магазине в.
          %div.info__item
            %div.info__img
              %img{src: "assets/images/icon-dely.svg"}
            %div.info__title Мы доставляем.
            %div.info__text Мы сделали много исследований. 0% людей любят ждать. Мы предлагаем доставку в тот же день, продуктовый магазин, как только один час после вашего заказа, когда это наиболее удобно для вас, и доставка бесплатна для членов по приказу свыше $ 35. Что вы будете делать с этим дополнительное время?
        %div.info__bottom
          %a.info-link{href: "#"} Как мы работаем?
          %a.info-link.is-right{href: "#"} Помощь
    .out
      %header.header
        %ul.menu.js-menu
          -#%li.menu__item
          -#  %a.menu__link.is-second.js-toggle{href: "#", data-toggle: ".js-submenu"} Выбрать город
          -#  %ul.submenu.js-submenu
          -#    %li
          -#      %a{href: "#"} Берлин
          -#    %li
          -#      %a{href: "#"} Джакарта
          -#    %li
          -#      %a{href: "#"} Гонгконг
          -#    %li
          -#      %a{href: "#"} Ханой
          %li.menu__item
            %a.menu__link{href: "#" } КАК МЫ РАБОТАЕМ?
            %a.menu__link{href: "#" } ПОМОЩЬ
          %li.menu__item
            %a.menu__link{href: "#" } ВХОД
            -#%a.menu__link{href: "#" } РЕГИСТРАЦИЯ
        %div.header__left
          %a.logo{href: "#"}
            .logo__main
              %img{src: "assets/images/logo-s.svg", width:160}
            .logo__add
              %img{src: "assets/images/logo.png", width:160}
          %ul.header__nav
            %li
              %a.js-toggle{href: "#", data-toggle: ".js-info", data-anim: "slide"} Как мы работаем
            %li
              %a{href: "#"} Помощь
        %div.header__right
          %ul.header__nav
            %li
              %a{href: "#"} Вход
          %button.burger.js-toggle{type:"button", data-toggle: ".js-menu"}
            %span
          -#%div.dropdown.js-dropdown
          -#  %a.dropdown__head.js-toggle{href: "#", data-toggle: ".js-dropdown"}Выбрать город
          -#  %ul.dropdown__list
          -#    %li
          -#      %a{href: "#"} Берлин
          -#    %li
          -#      %a{href: "#"} Джакарта
          -#    %li
          -#      %a{href: "#"} Гонгконг
          -#    %li
          -#      %a{href: "#"} Ханой
          -#%div.header__login
          -#  %a.link-action{href: "#"}Вход
          -#  %a.link-action{href: "#"}Регистрация

      %div.banner
        %div.banner__img
          %img{src: "assets/images/main.png", alt: "banner"}
        .banner__in
          .window
            .window__title Доставка из любых магазинов
            .window__marginb
              .window__info ДОСТАВЛЯЕМ ИЗ
              .window__anim
                %span M
                %span E
                %span T
                %span R
                %span O
            .window__marginb
              %button.btn{type: "button"} НАЧАТЬ
            %ul.label.hidden-md
              %li
                %i.icon.icon-tag
                %span Низкие цены и широкий ассортимент
              %li
                %i.icon.icon-diet
                %span Самые свежие продукты с полок магазинов
              %li
                %i.icon.icon-truck
                %span Быстрая доставка до двери
      .crsl.js-crsl
        %div
          .crsl__slide
            .l-center
              .crsl__title Мой ум полностью взорван. Это потрясающе.
              .crsl__sign — Светлана С
        %div
          .crsl__slide
            .l-center
              .crsl__title Мой ум полностью взорван. Это потрясающе.
              .crsl__sign — Светлана С
        %div
          .crsl__slide
            .l-center
              .crsl__title Мой ум полностью взорван. Это потрясающе.
              .crsl__sign — Светлана С
      .l-center
        %ul.label.visible-md
          %li
            %i.icon.icon-tag
            %span Низкие цены и широкий ассортимент
          %li
            %i.icon.icon-diet
            %span Самые свежие продукты с полок магазинов
          %li
            %i.icon.icon-truck
            %span Быстрая доставка до двери
        %div
          .category.category--one
            %a.category__left{href: "#"}
              .category__title Овощи и фрукты
              %img.category__img{src: "assets/images/banner-1.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
          .category.category--two
            %a.category__left{href: "#"}
              .category__title Молочные продукты и яйца
              %img.category__img{src: "assets/images/banner-2.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
          .category.category--three
            %a.category__left{href: "#"}
              .category__title Вода, напитки, соки
              %img.category__img{src: "assets/images/banner-3.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
          .category.category--four
            %a.category__left{href: "#"}
              .category__title Детские товары
              %img.category__img{src: "assets/images/banner-4.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
          .category.category--five
            %a.category__left{href: "#"}
              .category__title Все для дома
              %img.category__img{src: "assets/images/banner-1.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
          .category.category--six
            %a.category__left{href: "#"}
              .category__title Красота и гигиена
              %img.category__img{src: "assets/images/banner-2.png", alt: "category"}
              %img.category__svg{src: "assets/images/ballon.svg", alt: "bg"}
            .category__right
              .prod-wrap
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-1.png", alt: "prod"}
                    .prod__name Чай и кофе
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-2.png", alt: "prod"}
                    .prod__name Молочные продукты, яйца
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-3.png", alt: "prod"}
                    .prod__name Овощи, фрукты, ягоды
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-4.png", alt: "prod"}
                    .prod__name Бакалея
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-5.png", alt: "prod"}
                    .prod__name Сыры и колбасы
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-6.png", alt: "prod"}
                    .prod__name Хлеб и кондитерские изделия
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-7.png", alt: "prod"}
                    .prod__name Безалкогольные напитки и соки
                .prod
                  %a{href: "#"}
                    .prod__img
                      %img{src: "assets/images/prod-8.png", alt: "prod"}
                    .prod__name Консервированные продукты
      .promo
        .l-center
          .promo__in
            .promo__title Спецпредложения
            .promo__subtitle Лимитированные скидки на популярные товары
            %a.btn.btn--second{href: ""} Начать
          %img.promo__svg{src:"assets/images/ballon.svg", alt: "ballon"}
          %img.promo__img{src:"assets/images/prod-16.png", alt: "prod"}
          %img.promo__img.is-second{src: "assets/images/prod-9.png", alt: "prod"}
      .l-center
        .title.with-pad ПРОЧИЕ КАТЕГОРИИ
        .prod-wrap.is-second
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-10.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Продукты питания
              %a.prod__name{href: "#"} Чай и кофе
              %a.prod__name{href: "#"} Бакалея
              %a.prod__name{href: "#"} Мясо и птица
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-11.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Детские товары
              %a.prod__name{href: "#"} Детское питание
              %a.prod__name{href: "#"} Средства гигиены
              %a.prod__name{href: "#"} Подгузники
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-12.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Косметика и гигиена
              %a.prod__name{href: "#"} Дезодоранты
              %a.prod__name{href: "#"} Маникюр, педикюр
              %a.prod__name{href: "#"} Крема и лосьоны
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-13.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Бытовая химия
              %a.prod__name{href: "#"} Уход за обувью
              %a.prod__name{href: "#"} Чистящие средства
              %a.prod__name{href: "#"} Средства от насекомых
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-1.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Бумажная продукция
              %a.prod__name{href: "#"} Бумага туалетная
              %a.prod__name{href: "#"} Полотенца бумажные
              %a.prod__name{href: "#"} Салфетки и платки
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-14.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-13.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-12.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-11.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-10.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-3.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
          .prod
            .prod__img
              %a{href: "#"}
                %img{src: "assets/images/prod-8.png", alt: "prod"}
            .prod__part
              %a.prod__cat{href: "#"} Готовые блюда
              %a.prod__name{href: "#"} Все для суши
              %a.prod__name{href: "#"} Салаты
              %a.prod__name{href: "#"} Лапша и вермишель
      %footer.footer
        .l-center
          .footer__wrap
            .footer__column
              .footer__name ПОМОЩЬ
              %ul.footer__list
                %li
                  %a.footer__link{href: "http://instamart.ru/"} http://instamart.ru/
                %li
                  %a.footer__link{href: "tel:+74951206000"} +7 (495) 120-60-00
                %li
                  %a.footer__link{href: "#"} Доставка
                %li
                  %a.footer__link{href: "#"} Оплата
                %li
                  %a.footer__link{href: "#"} FAQ
            .footer__column.hidden-sm
              .footer__name КОМПАНИЯ
              %ul.footer__list
                %li
                  %a.footer__link{href: "#"} О компании
                %li
                  %a.footer__link{href: "#"} Вакансии
                %li
                  %a.footer__link{href: "#"} Бонусы
            .footer__column
              .footer__name МЫ В СОЦСЕТЯХ
              .share
                %a.share__link{href: "#"}
                  %i.icon.icon-fb
                %a.share__link{href: "#"}
                  %i.icon.icon-vk
                %a.share__link{href: "#"}
                  %i.icon.icon-tw
              .footer__name Приложения
              %div
                %a{href: "#"}
                  %img{src: "assets/images/playmarket.png", width: "130", alt: "playmarket"}
              %div
                %a{href: "#"}
                  %img{src: "assets/images/appstore.png", width: "130", alt: "appstore"}
            .footer__column.hidden-sm
              .footer__name СПЕЦПРЕДЛОЖЕНИЯ
              %a.footer__link.is-second{href: "#"}
                %i.icon.icon-mail
                %span Присылайте заяку на нашу почту
              .footer__name ОБРАТНАЯ СВЯЗЬ
              %a.footer__link.is-second{href: "#"}
                %i.icon.icon-dog
                %span Ждем ваши комментарии
          .footer__bottom
            .copyright
              %p
                %span ООО "Инстамарт" &nbsp;
                Адрес: ул. Лобненская, д. 6А  Телефон: +7 (495) 120 6000
              %p
                Режим работы: 8:00 - 20:00 без выходных © 2013 - 2016
            .footer__right.hidden-sm
              %a.info-link{href:"#"} Политика возврата
              %a.info-link{href:"#"} Публичная оферта
    %script(src="./assets/javascripts/app.js")
